body{

    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgb(50, 157, 168);
}
.h-full{
    height: 100%;
}
.w-full{
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    width: 100%;
}
nav div{
    height: 4.5rem;
    padding: 0.25rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

nav div img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.firstdiv{
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    
    padding: 0.25rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.firstdiv select{
    background-color: transparent;
    font-size: large;
    padding: 0.25rem;
    border-radius: 4px;
    /* for hiding default arrow */
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
}
select option{
    background-color: rgb(50, 157, 168); /* Background color */
    cursor: pointer;
    color: #333; /* Text color */
    padding: 0.5rem;
}
.firstdiv button{
    background-color: transparent;
    border: none;
    height: 4.5rem;
}
.firstdiv button img{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    /* animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; */
}
.seconddiv{
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.25rem;
    gap: 0.25rem;
    margin-top: 1rem;
}
.seconddiv textarea {
    width: 45%;
    background-color: transparent;
    border: 1px solid black;
    padding: 1rem;
    font-size: large;
}
.about{
    padding: 0.25rem;
    border-top: 3px solid black;
}
ol li a{
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
.apnaTime{
    animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 767px) {
    .seconddiv textarea {
        width: 100%;
        background-size: cover;
        justify-content: center;
    }
    .seconddiv{
        justify-content: center;
        align-content: center;
        margin-left: 10px;
    }
}